<div class="container flex justify-center m-auto">
  <div class="flex flex-col md:flex-row justify-center gap-3 mt-10">

    <div class="flex flex-1 flex-col justify-between bg-secondary_dark shadow-lg rounded-md p-4 text-lg">
      <span class="text-xl font-bold mb-6">Fullstack Developer - Freelancer</span>
      <div class="text-xl mb-3">
        <span class="font-bold">Company: </span>
        <span class="font-thin">4 Code SolutionS</span>
      </div>
      <div class="text-xl mb-3">
        <span class="font-bold">Description: </span>
        <span class="font-thin">I work as a full stack developer with Angular and NodeJs, I lead a team of 4 developers
          2 junior and 1 full</span>
      </div>
      <div class="text-xl mb-3">
        <span class="font-bold">Time: </span>
        <span class="font-thin">02/2020 - Present Time</span>
      </div>
    </div>

    <div class="flex flex-1 flex-col justify-between bg-secondary_dark shadow-lg rounded-md p-4 text-lg">
      <span class="text-xl font-bold mb-6">Officer - Full-time</span>
      <div class="text-xl mb-3">
        <span class="font-bold">Company: </span>
        <span class="font-thin">Brailian Army</span>
      </div>
      <div class="text-xl mb-3">
        <span class="font-bold">Description: </span>
        <span class="font-thin">I worked as an army officer, as Chief of the Computer Section, as an Analyst and
          developer
          of Web and Java systems,
          Squadron Commander and Logistics Officer, developing skills such as Leadership and teamwork</span>
      </div>
      <div class="text-xl mb-3">
        <span class="font-bold">Time: </span>
        <span class="font-thin">02/2015 - Present Time</span>
      </div>
    </div>

    <div class="flex flex-1 flex-col justify-between bg-secondary_dark shadow-lg rounded-md p-4 text-lg">
      <span class="text-xl font-bold mb-6">Diagrammer - Full-time</span>
      <div class="text-xl mb-3">
        <span class="font-bold">Company: </span>
        <span class="font-thin">Gráfica Instituto de Menores</span>
      </div>
      <div class="text-xl mb-3">
        <span class="font-bold">Description: </span>
        <span class="font-thin">I worked as a diagrammer using CorelDraw, Photoshop and Illustrator</span>
      </div>
      <div class="text-xl mb-3">
        <span class="font-bold">Time: </span>
        <span class="font-thin">06/2014 - 01/2015 (8 months)</span>
      </div>
    </div>

    <div class="flex flex-1 flex-col justify-between bg-secondary_dark shadow-lg rounded-md p-4 text-lg">
      <span class="text-xl font-bold mb-6">Developer - Internship</span>
      <div class="text-xl mb-3">
        <span class="font-bold">Company: </span>
        <span class="font-thin">Impulso Web Design</span>
      </div>
      <div class="text-xl mb-3">
        <span class="font-bold">Description: </span>
        <span class="font-thin">I worked as an intern in Web development using the C# language</span>
      </div>
      <div class="text-xl mb-3">
        <span class="font-bold">Time: </span>
        <span class="font-thin">02/2014 - 05/2014 (4 months)</span>
      </div>
    </div>
  </div>
</div>