<div class="container flex justify-center m-auto">
  <div class="flex flex-col justify-center gap-3 mt-10">
    <span class="text-4xl font-bold mb-3">Education</span>

    <div class="flex flex-1 flex-col justify-between bg-secondary_dark shadow-lg rounded-md p-4 text-lg">
      <div class="text-xl mb-3">
        <span class="font-bold">Pós-graduação Lato Sensu, Full Stack Development / </span>
        <span class="font-thin">DESCOMPLICA</span>
      </div>
    </div>

    <div class="flex flex-1 flex-col justify-between bg-secondary_dark shadow-lg rounded-md p-4 text-lg">
      <div class="text-xl mb-3">
        <span class="font-bold">Bachelor's Degree, Computer Engineering / </span>
        <span class="font-thin">UNINTER</span>
      </div>
    </div>

    <span class="text-4xl font-bold mb-3 mt-10">Licenses & Certifications</span>
    <div class="flex flex-1 flex-col justify-between bg-secondary_dark shadow-lg rounded-md p-4 text-lg">
      <div class="text-xl mb-3">
        <span class="font-bold">Angular 9 - 13h / </span>
        <span class="font-thin">Cod3r</span>
      </div>
      <a href="https://www.cod3r.com.br/certificates/8rbfiaxs5f" target="_blank">Certificate</a>
    </div>

    <div class="flex flex-1 flex-col justify-between bg-secondary_dark shadow-lg rounded-md p-4 text-lg">
      <div class="text-xl mb-3">
        <span class="font-bold">NodeJs - 66h / </span>
        <span class="font-thin">B7Web</span>
      </div>
      <a href="https://www.cod3r.com.br/certificates/8rbfiaxs5f" target="_blank">Certificate</a>
    </div>

    <div class="flex flex-1 flex-col justify-between bg-secondary_dark shadow-lg rounded-md p-4 text-lg">
      <div class="text-xl mb-3">
        <span class="font-bold">Typescript - 20h / </span>
        <span class="font-thin">B7Web</span>
      </div>
      <a href="https://www.cod3r.com.br/certificates/8rbfiaxs5f" target="_blank">Certificate</a>
    </div>

    <div class="flex flex-1 flex-col justify-between bg-secondary_dark shadow-lg rounded-md p-4 text-lg">
      <div class="text-xl mb-3">
        <span class="font-bold">HTML5 e CSS3 - 89h / </span>
        <span class="font-thin">B7Web</span>
      </div>
      <a href="https://www.cod3r.com.br/certificates/8rbfiaxs5f" target="_blank">Certificate</a>
    </div>

    <div class="flex flex-1 flex-col justify-between bg-secondary_dark shadow-lg rounded-md p-4 text-lg">
      <div class="text-xl mb-3">
        <span class="font-bold">Java - 77h / </span>
        <span class="font-thin">Udemy-Cod3r</span>
      </div>
      <a href="https://www.cod3r.com.br/certificates/8rbfiaxs5f" target="_blank">Certificate</a>
    </div>

  </div>
</div>