<div class="flex justify-center z-0">
  <div class="container flex flex-col bg-secondary_dark shadow-lg rounded-md mb-14 mt-16 w-3/4 md:w-2/3 text-lg">
    <span class="text-4xl font-bold mb-6">SKILLS</span>

    <div class="mb-10">
      <span class="text-xl mb-6">Total Years experience with TI - <strong>9 YEARS</strong></span>
      <mat-progress-bar class="z-10" color="primary" mode="determinate" value="100">
      </mat-progress-bar>
    </div>

    <span class="text-2xl mb-3">Languages</span>
    <div class="mb-6">
      <span class="text-xl font-thin mb-6">Javascript - <strong>7 YEARS</strong></span>
      <mat-progress-bar class="example-margin" color="primary" mode="determinate" value="78">
      </mat-progress-bar>
    </div>

    <div class="mb-6">
      <span class="text-xl font-thin mb-6">Java - <strong>6 YEARS</strong></span>
      <mat-progress-bar class="example-margin" color="primary" mode="determinate" value="66">
      </mat-progress-bar>
    </div>

    <div class="mb-6">
      <span class="text-xl font-thin mb-6">Typescript - <strong>3 YEARS</strong></span>
      <mat-progress-bar class="example-margin" color="primary" mode="determinate" value="33">
      </mat-progress-bar>
    </div>

    <div class="mb-6">
      <span class="text-xl font-thin mb-6">C# - <strong>1 YEAR</strong></span>
      <mat-progress-bar class="example-margin" color="primary" mode="determinate" value="11">
      </mat-progress-bar>
    </div>

    <span class="text-2xl mb-3 mt-10">Frameworks</span>
    <div class="mb-6">
      <span class="text-xl font-thin mb-6">Node - <strong>4 YEARS</strong></span>
      <mat-progress-bar class="example-margin" color="primary" mode="determinate" value="44">
      </mat-progress-bar>
    </div>

    <div class="mb-6">
      <span class="text-xl font-thin mb-6">Angular - <strong>3 YEARS</strong></span>
      <mat-progress-bar class="example-margin" color="primary" mode="determinate" value="33">
      </mat-progress-bar>
    </div>

    <div class="mb-6">
      <span class="text-xl font-thin mb-6">Spring Boot - <strong>2 YEARS</strong></span>
      <mat-progress-bar class="example-margin" color="primary" mode="determinate" value="22">
      </mat-progress-bar>
    </div>


  </div>
</div>